@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sec {
    padding: 100px 0;
}

.main-sec {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #96284b, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 25s ease infinite;
    -moz-animation: Gradient 25s ease infinite;
    animation: Gradient 25s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.about-title {
    font-size: 28px;
    color: #ffffff;
    margin: 0;
    font-weight: 500;
}

.about-pretitle {
    font-size: 20px;
    color: #ffffff;
    margin: 0;
}

.about-photo {
    max-width: 220px;
    height: auto;
    margin-bottom: 20px;
}

.rounded-img {
    border-radius: 50%;
}

.sec-short-info {
    background-color: #0fa3b1;
    background-image: url(../img/sky.png);
    background-position: 50% 100%;
    background-repeat: no-repeat;
}

.short-info-wrap {
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.sec-title {
    font-size: 32px;
    font-weight: 500;
    white-space: pre-line;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

.sec-text {
    font-size: 24px;
    font-weight: 300;
    margin-top: 10px;
    text-align: center;
}

.sec-projects {
    background-color: #5d6891;
}

.projects-head{
    padding: 0 0 60px 0;
    color: #ffffff;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 15px;
}

.project {
    margin: 10px;
}
/*sec-follow*/

.sec-follow{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 30px 80px 30px;
}

.follow-head {
    padding: 30px 0 60px 0;
}

.follow-icons{
    display: flex;
    justify-content: space-between;
}

.follow-link {
    display: flex;
    align-items: center;
    padding: 0 15px;
    text-decoration: none;
}

.follow-ico {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.project-container {
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flip {
    position: relative;
    width: 360px;
    display: flex;
}
.flip > .front,
.flip > .back {
    display: flex;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 0.5s;
    transition-property: transform, opacity;
    color: white;
    width: inherit;
    background-size: cover !important;
    background-position: center !important;
    height: 250px;
    background: #2c3040;
    border-radius: 5px;
}

.flip > .front {
    transform: rotateY(0deg);
}

.flip > .back {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
}

.flip:hover > .front {
    transform: rotateY(180deg);
}

.flip:hover > .back {
    opacity: 1;
    transform: rotateY(0deg);
}

.flip.flip-vertical > .back {
    transform: rotateX(-180deg);
}

.flip.flip-vertical:hover > .front {
    transform: rotateX(180deg);
}

.flip.flip-vertical:hover > .back {
    transform: rotateX(0deg);
}

.text-shadow {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}

.project-back__title, .project-back__text{
    padding: 0;
    margin: 0;
}

.project-back__text{
    text-align: center;
}

.project-back__title{
    margin-bottom: 15px;
    text-align: center;
    white-space: pre-line;
}

.btn {
    width: 100%;
    color: #fff;
    font-weight: 400;
    transition: .2s;
    text-decoration: none;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
}

.btn:hover, .btn:focus{
    color: #2c3040;
    background-color: white;
}

.project-back__btn{
    margin-top: 24px;
}

.link {
    color: #0fa3b1;
    transition: .2s;
}

.link:hover, .link:focus{
    color: #e5da59;
}

.skills{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 160px;
}

.skills-wrap .sec-title{
    margin-bottom: 85px;
}

.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 25%;
    margin-bottom: 70px;
}

.skill__name{
    margin-top: 15px;
}

.skill__img{
    height: 100px;
    max-width: 120px;
}